<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">


<bean id="address" class="com.veer.beans.Address">
	<constructor-arg name="state" value="TG" />
	<constructor-arg name="city" value="Hyderabad" />
	<constructor-arg name="country" value="India" />
</bean>

<bean id="employee" class="com.veer.beans.Employee">
	<constructor-arg name="id" value="1051" type="int"/>
	<constructor-arg name="name" value="Veerender"/>
	<constructor-arg ref="address"/>
</bean>

</beans>
